.personas {
    .heading {
        margin-bottom: 3rem;
    }

    .logoContainer {
        img {
            width: 300px;
        }
        margin-bottom: 2rem;
    }

    .iconLogoContainer {
        margin-bottom: 2rem;

        img {
            height: 100px;
        }
    }

    .logoContainerDark {
        background-color: var(--color-text);
        p {
            color: var(--color-white);
        }
    }
    .contents {
        .personaContainer {
            display: flex;

            margin-bottom: 2rem;
            .avatar {
                img {
                    border-radius: 20%;
                }

                margin-right: 1rem;
            }

            .description {
                display: flex;
                flex-direction: column;
                div {
                    margin-bottom: 1rem;
                }
                span {
                    font-weight: bold;
                    color: var(--color-primary);
                    font-size: 1.2rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}
