.typography {


    .contents {
        div {
            margin-bottom: 2rem;
        }

        span {
            margin-top: 0.5rem;
            display: inline-block;
        }

        a {
            margin-right: 1rem;
        }
    }
}
